@CHARSET "UTF-8";
#web-title{height: 180px; line-height: 180px; text-align: center; font-size: 168px; font-weight: bold;}
.panel-black{border-color: #000000;}
.panel-black > .panel-heading {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
}

.mainblock{}
.sideblock{}